<!-- <a href="#" class="btn btn-large btn-primary">Sign up</a> -->
<!--img alt="Rails" src="/assets/rails.png" /-->

<% if signed_in? %>
	<h1> Navigate to your preferred destination </h1>
	<div class="row">
		<%= button_to "Resume", resumes_path, :method => "get", class:'btn btn-large btn-primary' %>
		<%= button_to "Homepage", homepages_path, :method =>"get", class:'btn btn-large btn-primary' %>
	</div>
	<% else %>
	<h1> Please Login to continue </h1>
<% end %>
