.page{
		padding : 10pt;
		width : 70%;
		height : 1000px;
		margin: 10pt;
		border: solid black 1pt;
		background-color: #F4F9FB;
	}
	.fieldname{
		font-weight: bold;
	}
	.formgroup{
		background-color: #eee;
	}
	.checkbox{

	}
	.name{
		text-align: center;
		font-size: 35px;
		margin-bottom: -10px;
		padding-bottom: 0px;
		color: #1B1BF4;
	}
	.contacts{
		font-size: 16px;
		/*font-weight: bold;*/
		margin-bottom: 10px;
		margin-top: 0px;
		text-align: right;
		color: #1B1BF4;

	}
	.section_title{
		font-weight: bold;
		font-size: 16px;
		background-color: #DBE5E9;
		text-align: left;
		color: #050560;
	}
	.list{
		/*list-style-type: circle;*/
		font-size: 16px;
		margin-left: 50px;
	}
	table{
		font-size: 16px;
		color: #1B1BF4;
	}
	td{
		font-size: 16px;
	}
	hr{
		color: #050560;
	}