<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


<h3>Create Template</h3>
<br>
<div style="width:30%; float:left">
<pre>
Font Color (name)     	 <input id="name_color" class="color picker" onchange='refresh()'>
Font Color (Headings) 	 <input id="section_title_color" class="color picker" onchange='refresh()'>
Font Color (content)  	 <input id="body_color" class="color picker" onchange='refresh()'>
Background color      	 <input id="background_color" class="color picker" onchange='refresh()'>

Margin (Top)			 <div id="body_top-margin" class = "slider1"></div>
Margin (Left)			 <div id="body_left-margin" class = "slider1"></div>
Font Size (Title)		 <div id="title_font-size" class = "slider"></div>
Font Size (Headings)	 <div id="section_title_font-size" class = "slider"></div>
Font Size (Content)		 <div id="body_font-size" class = "slider"></div>
<form id="form">
<input type="hidden" id="css_res" form="css_res"/>
File name 				<input type="text" name="file_name">
<button type="button" onclick="save()" class="btn">Save template!</button>
</form>
</pre>
</div>
<div style="width:65%" class = "preview">
	<div class="text">
		<p class="title">Title</p>
		<p class = "heading">Section Title</p>
		<p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	</div>
	
</div>

<script type="text/javascript">
	function save()
	{
	    	var rName = $("#file_name").val()
	    	ret = false
	    	$.ajax({
	    		type: "GET",
	    		url: "/resumes/checkcssfile",
	    		data: {rname: rName},
	    		async: false,
	    		success: function(data){
	    					if(data.valid == "true"){
	    						ret = true
	    					} 
	    					else{
	    							alert("Name already in use. Use a new name")
	    					}
	    				}
	    	})
	    	if(ret){
	    		$.post('/resumes/postcssfile', $("#form").serialize(), function(data){
	    			alert("Success!")
	    			window.location.href= "/resumes/viewlist"
	    		});
			}	
	}
	function refresh()
	{
		$('.text').css("margin-top", $('#body_top-margin').slider("value"));
		$('.text').css("margin-bottom", $('#body_top-margin').slider("value"));
		$('.text').css("margin-left", $('#body_left-margin').slider("value"));
		$('.text').css("margin-right", $('#body_left-margin').slider("value"));
		$('.title').css("font-size", $('#title_font-size').slider("value"));
		$('.heading').css("font-size", $('#section_title_font-size').slider("value"));
		$('.content').css("font-size", $('#body_font-size').slider("value"));
		$('.preview').css("background-color", "#"+$('#background_color').val() );
		$('.title').css("color", "#"+$('#name_color').val());
		$('.heading').css("color", "#"+$('#section_title_color').val());
		$('.content').css("color", "#"+$('#body_color').val());
		var data = "";
		data = data + ".page{\n\
			padding-top: "+$('#body_top-margin').slider("value")+";\n\
			padding-bottom: "+$('#body_top-margin').slider("value")+";\n\
			padding-left: "+$('#body_left-margin').slider("value")+";\n\
			padding-right: "+$('#body_left-margin').slider("value")+";\n\
		}\n\
		.section_title{\n\
			font-size: "+$('#section_title_font-size').slider("value")+";\n\
			color: "+"#"+$('#section_title_color').val()+";\n\
		}\n\
		.body{\n\
			font-size: "+$('#body_font-size').slider("value")+";\n\
			color: "+"#"+$('#body_color').val()+";\n\
		}\n\
		h1{\n\
			font-size: "+$('#title_font-size').slider("value")+";\n\
			color: "+"#"+$('#name_color').val()+";\n\
		}\n\
		.body{\n\
			background-color: "+"#"+$('#background_color').val() +";\n\
		}";
		$('#css_res').val(data);
	}
	$(function() {
		$( ".slider1" ).slider({
			range: "min",
			max: 255,
			value : 0,
			slide: refresh,
			change: refresh
		});
		$( ".slider" ).slider({
			range: "min",
			max: 40,
			value : 12,
			slide: refresh,
			change: refresh
		});
	});
</script>
<style type="text/css">
	.picker{
		font-size: 0;
		height: 20px;
		width: 20px;
	}
	hr{
		/*width:2px;*/
		border-color: #aaa;
	}
	.preview{
		background-color: #fff;
		border: solid black 1px;
		float:right;
	}
</style>