.page{
	padding : 10pt;
	width : 70%;
	height : 1000px;
	margin: 10pt;
	border: solid black 1pt;
}
.fieldname{
	font-weight: bold;
}
.formgroup{
	background-color: #eee;
}
.checkbox{

}
.name{
	font-size: 42px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.contacts{
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.section_title{
	font-weight: bold;
	font-size: 16px;
	background-color: #D3D3D3
}
.list{
	font-size: 16px;
}
table{
	font-size: 16px;
}
td{
	font-size: 16px;
}